{%- import '_macros.j2' as macros with context -%}
{{ ansible_managed|comment(decoration='# ') }}

DEVICE={{ item.device }}
{% if item.name is defined %}
NAME={{ item.name }}
{% endif %}
{% block interface %}
{% endblock %}
{% if item.bridge is defined %}
BRIDGE={{ item.bridge }}
{% elif item.bootproto == 'dhcp' or item.bootproto == 'bootp' %}
BOOTPROTO=dhcp
DHCP_HOSTNAME={{ network_dhcp_hostname }}
DHCPRELEASE=1
PERSISTENT_DHCLIENT=1
{% elif item.bootproto == 'static' %}
BOOTPROTO=none
{%  if item.ipv4 is defined %}
# IPV4
{%    if item.ipv4.address is defined %}
IPADDR={{ item.ipv4.address }}
{%    endif %}
{%    if item.ipv4.netmask is defined %}
NETMASK={{ item.ipv4.netmask }}
{%    endif %}
{%    if item.ipv4.network is defined %}
NETWORK={{ item.ipv4.network }}
{%    endif %}
{%    if item.ipv4.broadcast is defined %}
BROADCAST={{ item.ipv4.broadcast }}
{%    endif %}
{%    if item.ipv4.gateway is defined %}
GATEWAY={{ item.ipv4.gateway }}
{%    endif %}
IPV4_FAILURE_FATAL={{ macros.bool(false) }}
{%  endif %}
# IPV6
{%  if item.ipv6 is defined %}
IPV6INIT={{ macros.bool(true) }}
{%    if item.ipv6.address is defined %}
IPV6ADDR={{ item.ipv6.address }}
{%    endif %}
{%    if item.ipv6.secondaries is defined %}
IPV6ADDR_SECONDARIES={{ item.ipv6.secondaries|join(" ") }}
{%    endif %}
IPV6_PRIVACY=rfc3041
{%  else %}
IPV6INIT={{ macros.bool(false) }}
{%  endif %}
# DNS
{%  if item.domain is defined %}
DOMAIN={{ item.domain }}
{%  endif %}
{%  if item.dns is defined %}
{%    for addr in item.dns|flatten|list %}
DNS{{ loop.index }}={{ addr }}
{%    endfor %}
PEERDNS={{ macros.bool(network__resolv_conf_options|length == 0) }}
{%  else %}
PEERDNS={{ macros.bool(false) }}
{%  endif %}
{% else %}
BOOTPROTO=none
{% endif %}
{% if item.firewall_zone is defined %}
ZONE={{ item.firewall_zone }}
{% endif %}
ONBOOT={{ macros.bool(item.onboot|d(false)) }}
NM_CONTROLLED={{ macros.bool(false) }}
RESOLV_MODS={{ macros.bool(false) }}
